.jumbotron {
  max-height: 300px;
  font-family: Oswald, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Oswald);
}

.button_row {
  padding-right: 2em;
}

.image_button {
  background: transparent;
  display: inline;
}

#thumbnail-pic {
  max-height: 1em;
}
