.jumbotron {
  background: linear-gradient("#666666, #b3b3b3")
}

#tr_directory button{
  background: none!important;
  border: none;
  padding: 0!important;

  /*Styling Link*/
  font-family: helvetica, arial, sans-serif;
  text-decoration: underline;
  color: #000000
  cursor: pointer;
}

#tr_directory button.hover {
  color: #0000ff
}

#delete_button{
  background: black;
  border: 2px;
  padding: 10px;

  /*Styling Link*/
  font-family: helvetica, arial, sans-serif;
  text-decoration: underline;
  color: #ffffff
  cursor: pointer;
}
