.jumbotron {
  background: linear-gradient("#666666, #b3b3b3")
}

#fileslist #directory_table button{
  background: none!important;
  border: none;
  padding: 0!important;

  /*Styling Link*/
  font-family: helvetica, arial, sans-serif;
  text-decoration: underline;
  color: #000000
  cursor: pointer;
}

#fileslist #directory_button.hover {
  color: #0000ff
}
